<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '_base.css' %}">
    <title>{% block title %} sina {% endblock title %}</title>
    {% block head %}
    {% endblock head %}
</head>
<body>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

{#    <header class="container">#}
{#    <!--<a class="logo" href="{% url 'home' %}">-->#}
{#    <!--    <svg class="svg-icon" viewBox="0 0 20 20">-->#}
{#    <!--        <path d="M18.121,9.88l-7.832-7.836c-0.155-0.158-0.428-0.155-0.584,0L1.842,9.913c-0.262,0.263-0.073,0.705,0.292,0.705h2.069v7.042c0,0.227,0.187,0.414,0.414,0.414h3.725c0.228,0,0.414-0.188,0.414-0.414v-3.313h2.483v3.313c0,0.227,0.187,0.414,0.413,0.414h3.726c0.229,0,0.414-0.188,0.414-0.414v-7.042h2.068h0.004C18.331,10.617,18.389,10.146,18.121,9.88 M14.963,17.245h-2.896v-3.313c0-0.229-0.186-0.415-0.414-0.415H8.342c-0.228,0-0.414,0.187-0.414,0.415v3.313H5.032v-6.628h9.931V17.245z M3.133,9.79l6.864-6.868l6.867,6.868H3.133z"></path>-->#}
{#    <!--    </svg>-->#}
{#    <!--</a>-->#}
{#        <p class="logo">logo</p>#}
{#        <ul class="nav">#}
{#            <li>#}
{#                <a class="nav-element" href="{% url 'home' %}">Home</a>#}
{#            </li>#}
{#            <li>#}
{#                <a class="nav-element" href="{% url 'cart' %}">Cart</a>#}
{#            </li>#}
{#            <li>#}
{#                <a class="nav-element" href="{% url 'profile' %}">Profile</a>#}
{#            </li>#}
{#            <li>#}
{#                <a class="nav-element" href="{% url 'categories' %}">Categories</a>#}
{#            </li>#}
{#        </ul>#}
{#        <div>#}
{#            <a class="login" href="{% url 'signup' %}">Login</a>#}
{#            <a class="signup" href="{% url 'signup' %}">Sign-up</a>#}
{#        </div>#}
{#    </header>#}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
              {% if categories %}
            <div class="dropdown nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {% for i in categories %}
                    <li><a class="dropdown-item" href="{% url 'categories' id=i.id %}">{{ i.title }}</a></li>
                  {% endfor %}
              </ul>
            </div>
            {% endif %}

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'searchbar' %}" method="get" role="search">
                <input name="search" type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>

<main class="mb-auto container d-inline-block">
    {% block content %}
    {% endblock content %}
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-light">
<div class="col-md-4 d-flex align-items-center">
  <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
  </a>
  <span class="mb-3 mb-md-0">© 2022 Company, Inc</span>
</div>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
  <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="https://www.instagram.com/aminian_sina"></use></svg></a></li>
</ul>
</footer>


</body>
</html>