{% extends 'shop/_base.html' %}
{% load static %}

{% block title %}Categories{% endblock title %}
{% block content %}
    <a>{{ category.title }}</a>
    <br>
    <div class="row g-4">
    {% for c in childCategories %}
          <div class="col col-sm-6 card">
              <div class="card-body">
                <h5 class="card-title">{{ c.title }}</h5>
                <p class="card-text">{{ c.description }}</p>
                <a href="{% url 'categories-details' id=c.id %}"> see details</a>
              </div>
          </div>
    {% endfor %}
    </div>
{% endblock content %}