{% extends 'shop/_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock head %}

{% block content %}
    <recomended class="recom">
        {% for i in recom.all %}
            <div class="recom-element">
                <a href="{% url 'itemDetails' i.id %}"> <img class="img" src="{{ i.cover.url }}" alt="{{ i.title }}"/> </a>
                <a href="{% url 'itemDetails' i.id %}"> {{ i.title }} </a>
                <a href="{% url 'itemDetails' i.id %}"> {{ i.price }} </a>
            </div>
        {% endfor %}
    </recomended>
{% endblock content %}