<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payment</title>
</head>
<body>

<form method="post" action="{% url 'payment' %}">
    {% csrf_token %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="approve" value="approve">
        <label class="form-check-label" for="flexRadioDefault1">
            payment approve
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="failed" value="failed" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            payment failed
        </label>
    </div>
    <button type="submit">
        submit
    </button>
</form>
</body>
</html>