{% extends 'shop/_base.html' %}
{% load static %}

{% block title %}Payment{% endblock title %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container py-5">
        <p class="text-start fs-2 pb-2">Cart:</p>
        {% include "shop/cards.html" %}
    </div>

    <div class="divider py-1 bg-success"></div>

    <form method="post" action="{% url 'payment' %}">
        {% csrf_token %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="approve" value="approve">
            <label class="form-check-label">
                payment approve
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="failed" value="failed" checked>
            <label class="form-check-label">
                payment failed
            </label>
        </div>
        <button type="submit">
            submit
        </button>
    </form>
{% endblock content %}