* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: sans-serif;
        color: #343a40;
        font-size: 24px;
        height: 100vh;
        text-align: center;
        font-weight: bold;
}



a {
    text-decoration: none;
}

.header {
    background-color: #ddd;
    font-size:40px;
    margin: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    flex-shrink: 1;
}

.logo {
    weight: 100px !important;
    height:auto;
    color: #FF0000;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav-element {
    color: #4B4B4B;
    text-decoration: none;
    padding: 8px;
}

.nav-element:hover {
    color: #FFFFFF;
    background-color: #4B4B4B;
    border-radius: 5px;
}

.login {
    color: #0A8FC9;
    background-color: #FFFFFF
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

.login:hover {
    color: #FFFFFF;
    background-color: #0A8FC9;
    border-radius: 5px;
}

.signup {
    color: #FFFFFF;
    background-color: #0A8FC9;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

.signup:hover {
    color: #FFFFFF;
    background-color: #0A7EB0;
}